.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    
}
.form-group{
    margin: 5px;
    
    text-align: center;
    padding-top: 5em;
}
.btn-warning.disabled, .btn-warning:disabled {
    margin: 25px;
}
.container{
    margin: auto;
    padding: 100px;
}
ul {
    list-style-type: none;
}


.card-title {
    margin-bottom: .5rem;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}