

<!--checking if data comes in -----
   <input 
  type="text" 
  placeholder="enter city..."
  (input)="searchCity($event.target.value)"
> -->
<ng-container>
  <div class="col-sm-12">
      <div class="card">
          <div class="card-header bg-info">
              <h4 class="card-title mb-0 text-white">Search your location</h4>
          </div>
          <!-- lookin to fix it after work...  I replaced it bat to regular form for now. .... -->
          <!-- <form novalidate class="d-flex align-items-center ml-auto" [formGroup]="form" (ngSubmit)="sendToAPI(formArray.value)"> -->
            <!-- *ngFor="let city of formArray.get('form').controls; let i = index" -->
            <!-- <ng-container  formArrayName="form" *ngFor="let city of formArray.controls; let i = index">
              <div [formGroupName]="i"> -->
          <div class="row" style="margin: auto;">
          <form novalidate class="col-12" 
          [formGroup]="form"
           (ngSubmit)="sendToAPI(form.value)">  
           <div formArrayName="weather">
            <div *ngFor="let itemCity of weatherArray.controls; let i = index;"  [formGroupName]="i"> 
              <div class="input-group">
                <div class="col-4">
                  <div class="form-group">
                    <label for="name">City</label>
                    <input type="search" id="name" class="form-control" 
                    placeholder="enter city..."
                     formControlName="name" required></div> 
                  </div>
                  <div class="col-4">
                    <div class="form-group">  
                    <label for="temp">Units</label>
                    <input type="search" id="temp" class="form-control"
                     placeholder="enter units..." 
                    formControlName="temp" required>
                             <!-- <div [hidden]="weatherData.temp.valid || weatherData.temp.pristine"
                             class="alert alert-danger">
                              Units are required! please choose from <br>
                              metric, standard or ml
                             </div> -->
                            </div>
  
                  </div>    
                       <div class="col-4">
                        <div class="form-group"> 
                          <button class="btn btn-warning"   
                             type="submit" 
                             [disabled]="!form.valid"
                            (click)="onSave(form.value,i)">+</button>
                        </div> 
                       </div> 
                       <!-- [disabled]="!form.valid" -->
              </div> 
             <!-- *********** display weather ************ -->
             <div class="container" *ngIf="weatherData[i] != null">
              <div class="card results" *ngFor="let weather of weatherData">
                <h2>Your Search for {{weatherData[i].name}}</h2>
                <h4>
                  <div class="row">  
                    <div class="col">
                      {{weatherData[0].name}}
                      <img [src]="weatherIconURL + weatherData[i].weather[0].icon +'.png'">
                      {{weatherData[i].weather[0].description}} / {{weatherData[i].main.temp}}°
                    </div>
                  </div>  
                </h4>
              </div>
            </div>
             </div> 
           </div> 

          </form>
         
   
          </div>
      </div>
   </div>

</ng-container>    

<div *ngIf="weatherData">
	<h2>Weather list:</h2>
  <ul> 
    <li *ngFor="let city of weatherData;index as i" style="font-weight: bolder;">
      <h4>
        {{i + 1}}. {{city.name}}  {{city.main.temp}}°:{{city.weather[0].description}}
      </h4> 
     </li>
  </ul>
</div>

